<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <title>ToDoList App</title>
    </head>
    <body>
        <header>
            <div class="logo_images">
                <img src="{% static "images/LogoIAI-UET.jpg" %}" width="100px" height="100px" alt="logoIAI">
                <img src="{% static "images/LogoUET.jpg" %}" width="100px" height="100px" alt="logoUET">
                <img src="{% static "images/LogoVNU.jpg" %}" width="100px" height="100px" alt="logoVNU">
            </div>
            <h1>Viện trí tuệ nhân tạo, Trường Đại học Công Nghệ, ĐHQGHN</h1>
            <h1>Dry Bean</h1>
            <h3>Phạm Thành Long, Phan Văn Hiếu, Nguyễn Đức Minh, Trần Tiến Nam</h3>
            <h3>MSV: 22022604, 22022527, 22022533, 22022594</h3>
            <hr>
        </header>